div.scrollable.tabs(id="tabs" percent-Height percent="100"  ng-style="style" ng-controller="tabsController")

    ul.nav.nav-tabs
        li(ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)")
            a.glyphicon(ng-class="tab.icon", ng-show="tab.icon") {{tab.title}}

    div( id="mainView" )
        div.tab-content(id="controlBox")
            div.tab(id="one.tpl.html" ng-class="{hidden:!isActiveTab('one.tpl.html')}")
                div.col-md-12(ng-controller="userTabController")
                    h2 Datawake Users&nbsp;&nbsp;
                        button.inputItem.btn.btn-primary.btn-xs.btn-success(ng-click="showAdd = ! showAdd" title="Add New User")
                            .glyphicon.glyphicon-plus-sign(ng-show="!showAdd")
                            .glyphicon.glyphicon-minus-sign(ng-show="showAdd")
                        button.inputItem.btn.btn-default.btn-xs.glyphicon.glyphicon-filter(ng-click="showFilters()" title="Toggle Table Filters")
                        button.inputItem.btn.btn-default.btn-xs.glyphicon.glyphicon-refresh(ng-controller="userTabController" ng-click="getUsers()" title="Refresh Users List")
                    div
                        table.table.table-striped.table-condensed.table-hover.ng-table-responsive(ng-table="tableParams" show-filter="false")
                            tr(ng-repeat="user in $data" )
                                td.col-md-2(data-title="'User ID'" sortable="'teamUserId'") {{user.teamUserId}}
                                td.col-md-4(data-title="'User Name (email address)'" sortable="'email'" filter="{ 'email': 'text' }")
                                    span(ng-if="!user.$edit") {{user.email}}
                                    div(ng-if="user.$edit")
                                        input.form-control(type="text" ng-model="user.email" value="{{user.email}}" )
                                td.col-md-2(data-title="'Team ID'" sortable="'teamId'" filter="{ 'teamId': 'text' }")
                                    span(ng-if="!user.$edit") {{user.teamId}}
                                    div(ng-if="user.$edit")
                                        select.form-control.span1.required(ng-model='user.teamId' ng-options="team.id as team.name for team in teams" class="ng-valid ng-dirty")
                                            option(value="{{user.teamId}}" selected)
                                td.col-md-2
                                    button.inputItem.btn.btn-primary.btn-xs.glyphicon.glyphicon-edit(ng-if="!user.$edit" ng-click="user.$edit=true" title="Edit User")
                                    button.inputItem.btn.btn-primary.btn-xs.glyphicon.glyphicon-save(ng-if="user.$edit" ng-click="editUser(user);user.$edit=false" title="Save User")
                                    button.inputItem.btn.btn-danger.btn-xs.glyphicon.glyphicon-minus-sign(ng-click="removeUser(user)" title="Remove User")
                            tr(ng-show='showAdd')
                                td.col-md-2
                                td.col-md-4
                                    input.form-control.span1.required(ng-model='data.email' placeholder="Email Address")
                                td.col-md-2
                                    select.form-control.span1.required(ng-model='data.teamId' ng-options="team.id as team.name for team in teams" class="ng-valid ng-dirty")
                                        option(value="" disabled selected) Select Team
                                td.col-md-2
                                    button.btn.btn-sm.btn-success(ng-controller="userTabController" ng-click='addUser()') Add

            div.tab( id="two.tpl.html" ng-class="{hidden:!isActiveTab('two.tpl.html')}")
                div.col-md-12(ng-controller="teamTabController")
                    h2 Datawake Teams&nbsp;&nbsp;
                        button.inputItem.btn.btn-primary.btn-xs.btn-success(ng-click="showAdd = ! showAdd" title="Add New Team")
                            .glyphicon.glyphicon-plus-sign(ng-show="!showAdd")
                            .glyphicon.glyphicon-minus-sign(ng-show="showAdd")
                        button.inputItem.btn.btn-default.btn-xs.glyphicon.glyphicon-filter(ng-click="showFilters()" title="Toggle Table Filters")
                        button.inputItem.btn.btn-default.btn-xs.glyphicon.glyphicon-refresh(ng-click="getTeams()" title="Refresh Teams List")

                    div
                        table.table.table-striped.table-condensed.table-hover.ng-table-responsive(ng-table="tableParams" show-filter="false")
                            tr(ng-repeat="team in $data")
                                td.col-md-2(data-title="'Team ID'" sortable="'id'" filter="{ 'id': 'text' }") {{team.id}}
                                td.col-md-2(data-title="'Team Name'" sortable="'name'" filter="{ 'name': 'text' }")
                                    span(ng-if="!team.$edit") {{team.name}}
                                    div(ng-if="team.$edit")
                                        input.form-control(type="text" ng-model="team.name" value="{{team.name}}" )
                                td.col-md-4(data-title="'Team Description'" sortable="'description'" filter="{ 'description': 'text' }")
                                    span(ng-if="!team.$edit") {{team.description}}
                                    div(ng-if="team.$edit")
                                        input.form-control(type="text" ng-model="team.description" value="{{team.description}}")
                                td.col-md-2
                                    button.inputItem.btn.btn-primary.btn-xs.glyphicon.glyphicon-edit(ng-if="!team.$edit" ng-click="team.$edit=true" title="Edit Team")
                                    button.inputItem.btn.btn-primary.btn-xs.glyphicon.glyphicon-save(ng-if="team.$edit" ng-click="editTeam(team);team.$edit=false" title="Save Team")
                                    button.inputItem.btn.btn-danger.btn-xs.glyphicon.glyphicon-minus-sign(ng-click="removeTeam(team)" title="Remove Team")
                            tr(ng-show='showAdd')
                                td.col-md-2
                                td.col-md-2
                                    input.form-control.span1.required(ng-model='data.name')
                                td.col-md-4
                                    input.form-control.span1.required(ng-model='data.description')
                                td.col-md-2
                                    button.btn.btn-sm.btn-success(ng-controller="teamTabController" ng-click='addTeam()') Add

            div.tab( id="three.tpl.html" ng-class="{hidden:!isActiveTab('three.tpl.html')}")
                div.col-md-12(ng-controller="domainTabController")
                    h2 Datawake Domains &nbsp;&nbsp;
                        button.inputItem.btn.btn-primary.btn-xs.btn-success(ng-click="showAdd = ! showAdd" title="Import or Add Domain")
                            .glyphicon.glyphicon-plus-sign(ng-show="!showAdd")
                            .glyphicon.glyphicon-minus-sign(ng-show="showAdd")
                        button.inputItem.btn.btn-default.btn-xs.glyphicon.glyphicon-filter(ng-click="showFilters()" title="Toggle Table Filters")
                        button.inputItem.btn.btn-default.btn-xs.glyphicon.glyphicon-refresh(ng-click="getDomains()" title="Refresh Domain List")
                    div(ng-show="showAdd")
                        table
                            tr
                                td
                                    div.drop-box(ngf-drop ngf-select ng-show='showAdd' ng-model="files" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true" accept="json") Drop Domain file (.csv) here <br/> or <br/>click to Browse to file
                                    div(ngf-no-file-drop ng-show='showAdd') File Drag/Drop is not supported for this browser

                                td
                                    div
                                        table
                                            tr
                                                th.col-md-3 &nbsp; &nbsp; Or Create One Manually
                                            tr
                                                td.col-md-2
                                                    input.form-control.span1.required(ng-model='data.name' placeholder="Domain Name")
                                                td.col-md-3
                                                    input.form-control.span1.required(ng-model='data.description' placeholder="Description")
                                                td.col-md-2
                                                    select.form-control.span1.required(ng-model='data.teamId' ng-options="team.id as team.name for team in teams" class="ng-valid ng-dirty")
                                                        option(value="" disabled selected) Select Team
                                                td.col-md-1
                                                    button.btn.btn-success(ng-controller="userTabController" ng-click='addDomain()') Add Domain
                    div
                        table.table.table-striped.table-condensed.table-hover.ng-table-responsive(ng-table="tableParams" show-filter="false")
                            tr(ng-repeat="domain in $data" )
                                td.col-md-2(data-title="'Domain ID'" sortable="'id'" filter="{ 'id': 'text' }") {{domain.id}}
                                td.col-md-2(data-title="'Domain Name'" sortable="'name'" filter="{ 'name': 'text' }")
                                    span(ng-if="!domain.$edit") {{domain.name}}
                                    div(ng-if="domain.$edit")
                                        input.form-control(type="text" ng-model="domain.name" value="{{domain.name}}" )
                                td.col-md-3(data-title="'Domain Description'" sortable="'description'" filter="{ 'name': 'text' }")
                                    span(ng-if="!domain.$edit") {{domain.description}}
                                    div(ng-if="domain.$edit")
                                        input.form-control(type="text" ng-model="domain.description" value="{{domain.description}}")
                                td.col-md-2(data-title="'Team ID'" sortable="'teamId'" filter="{ 'teamId': 'text' }")
                                    span(ng-if="!domain.$edit") {{domain.teamId}}
                                    div(ng-if="domain.$edit")
                                        select.form-control.span1.required(ng-model='domain.teamId' ng-options="team.id as team.name for team in teams" class="ng-valid ng-dirty")
                                            option(value="{{domain.teamId}}" selected)
                                td.col-md-1
                                    button.inputItem.btn.btn-default.btn-xs.glyphicon.glyphicon-zoom-in(ng-click="openDomainEditor(domain)" title="View domain items")
                                    button.inputItem.btn.btn-primary.btn-xs.glyphicon.glyphicon-edit(ng-if="!domain.$edit" ng-click="domain.$edit=true" title="Edit domain")
                                    button.inputItem.btn.btn-primary.btn-xs.glyphicon.glyphicon-save(ng-if="domain.$edit" ng-click="editDomain(domain);domain.$edit=false" title="Save domain")
                                    button.inputItem.btn.btn-danger.btn-xs.glyphicon.glyphicon-minus-sign(ng-click="removeDomain(domain)" title="Remove Domain")



            div.tab( id="four.tpl.html" ng-class="{hidden:!isActiveTab('four.tpl.html')}")
                div.col-md-12(ng-controller="trailTabController")
                    h2 Datawake Trails &nbsp;&nbsp;
                        //button.inputItem.btn.btn-primary.btn-xs.btn-success(ng-click="showAdd = ! showAdd" title="Import or Add Trail")
                        //    .glyphicon.glyphicon-plus-sign(ng-show="!showAdd")
                        //    .glyphicon.glyphicon-minus-sign(ng-show="showAdd")
                        button.inputItem.btn.btn-default.btn-xs.glyphicon.glyphicon-filter(ng-click="showFilters()" title="Toggle Table Filters")
                        button.inputItem.btn.btn-default.btn-xs.glyphicon.glyphicon-refresh(ng-click="getTrails()" title="Refresh Trail List")
                    div
                        table.table.table-striped.table-condensed.table-hover.ng-table-responsive(ng-table="tableParams" show-filter="false")
                            tr(ng-repeat="trail in $data" )
                                td.col-md-2(data-title="'Trail ID'" sortable="'id'" filter="{ 'id': 'text' }") {{trail.id}}
                                td.col-md-2(data-title="'Trail Name'" sortable="'name'" filter="{ 'name': 'text' }")
                                    span(ng-if="!trail.$edit") {{trail.name}}
                                    div(ng-if="trail.$edit")
                                        input.form-control(type="text" ng-model="trail.name" value="{{trail.name}}" )
                                td.col-md-3(data-title="'Trail Description'" sortable="'description'" filter="{ 'description': 'text' }")
                                    span(ng-if="!trail.$edit") {{trail.description}}
                                    div(ng-if="trail.$edit")
                                        input.form-control(type="text" ng-model="trail.description" value="{{trail.description}}")
                                td.col-md-2(data-title="'Domain Name'" sortable="'domainId'" filter="{ 'domainId': 'text' }")
                                    span(ng-if="!trail.$edit") {{trail.domainId}}
                                    div(ng-if="trail.$edit")
                                        select.form-control.span1.required(ng-model='trail.domainId' ng-options="domain.id as domain.name for domain in domain" class="ng-valid ng-dirty")
                                            option(value="{{trail.domainId}}" selected)
                                td.col-md-2(data-title="'Team Name'" sortable="'teamId'" filter="{ 'teamId': 'text' }")
                                    span(ng-if="!trail.$edit") {{trail.teamId}}
                                    div(ng-if="trail.$edit")
                                        select.form-control.span1.required(ng-model='trail.teamId' ng-options="team.id as team.name for team in teams" class="ng-valid ng-dirty")
                                            option(value="{{trail.teamId}}" selected)
                                td.col-md-1
                                    button.inputItem.btn.btn-default.btn-xs.glyphicon.glyphicon-zoom-in(ng-click="openTrailEditor(trail)" title="View trail items")
                                    button.inputItem.btn.btn-primary.btn-xs.glyphicon.glyphicon-edit(ng-if="!trail.$edit" ng-click="trail.$edit=true" title="Edit trail")
                                    button.inputItem.btn.btn-primary.btn-xs.glyphicon.glyphicon-save(ng-if="trail.$edit" ng-click="editTrail(trail);trail.$edit=false" title="Save trail")
                                    button.inputItem.btn.btn-danger.btn-xs.glyphicon.glyphicon-minus-sign(ng-click="removeTrail(trail)" title="Remove trail")
                            tr(ng-show='showAdd')
                                td.col-md-2
                                td.col-md-2
                                    input.form-control.span1.required(ng-model='data.name')
                                td.col-md-3
                                    input.form-control.span1.required(ng-model='data.description')
                                td.col-md-2
                                    select.form-control.span1.required(ng-model='data.domainId' ng-options="domain.id as domain.name for domain in domains" class="ng-valid ng-dirty")
                                        option(value="" disabled selected) Select Domain
                                td.col-md-2
                                    select.form-control.span1.required(ng-model='data.teamId' ng-options="team.id as team.name for team in teams" class="ng-valid ng-dirty")
                                        option(value="" disabled selected) Select Team
                                td.col-md-2
                                    button.btn.btn-sm.btn-success(ng-controller="trailTabController" ng-click='addTrail()') Add Trail
