div.ngdialog(ng-controller="domainEditController")
    div.ngdialog-overlay
        div.ngdialog-content
            div.panel.panel-primary
                div.panel-heading
                    h4 Edit Domain Items for: {{domainName}} &nbsp;&nbsp;&nbsp;
                        button.inputItem.btn.btn-primary.btn-xs.btn-success(ng-click="showAdd = ! showAdd" title="Add Domain Item")
                            .glyphicon.glyphicon-plus-sign(ng-show="!showAdd")
                            .glyphicon.glyphicon-minus-sign(ng-show="showAdd")
                        //button.inputItem.btn.btn-default.btn-xs.glyphicon.glyphicon-filter(ng-click="showFilters()" title="Toggle Table Filters")

                    div(ng-show='showAdd')
                        table
                            form(role="form" name="domainedit")
                                tr
                                    th.col-md-2 Feature Type
                                    th.col-md-4 Feature Value
                                    th.col-md-1 &nbsp;
                                tr
                                    td.col-md-2
                                        input.form-control.span1.required(ng-model='data.featureType' type="text")
                                    td.col-md-4
                                        input.form-control.span1.required(ng-model='data.featureValue' type="text")
                                    td.col-md-1
                                        button.btn.btn-sm.btn-success(ng-click='addDomainItem()') Add Feature
                                tr
                                    td &nbsp;
                div.panel-body
                    div
                        table.table.table-striped.table-condensed.table-hover.ng-table-responsive(ng-table="tableParams" show-filter="false" style="width:90%; height:500px"  export-csv="csv" fixed-header)
                            tr(ng-repeat="item in domainItems")
                                td.col-sm-1(data-title="'Domain ID'" ng-show="tableParams.myShowFlag") {{item.id}}
                                td.col-sm-1(data-title="'Domain Name'" ng-show="tableParams.myShowFlag") {{item.name}}
                                td.col-sm-1(data-title="'Domain Description'" ng-show="tableParams.myShowFlag") {{item.description}}
                                td.col-sm-1(data-title="'Domain Team'" ng-show="tableParams.myShowFlag") {{item.teamId}}
                                td.col-md-1(data-title="'Id'" sortable="'domainEntityId'" filter="{ 'domainEntityId': 'text' }") {{item.domainEntityId}}
                                td.col-md-2(data-title="'Feature Type'" sortable="'name'" filter="{ 'featureType': 'text' }") {{item.featureType}}
                                td.col-md-4(data-title="'Feature Value'" sortable="'description'" filter="{ 'featureValue': 'text' }") {{item.featureValue}}
                                td.col-md-1
                                    button.inputItem.btn.btn-primary.btn-xs.btn-danger.glyphicon.glyphicon-minus-sign(ng-click="removeItem(item)" title="Remove Feature")
                    div.col-md-8.col-md-offset-4
                        div.btn-group-xs
                            a.btn.btn-primary(ng-click="csv.generate()" ng-href="{{ csv.link() }}" download="{{domainName}}.csv" title="Export Domain to file (.csv)")
                                i.glyphicon.glyphicon-download-alt &#160;Export
                            label &nbsp;
                            a.btn.btn-default(ng-click="close()" title="Close")
                                i.glyphicon.glyphicon-remove &#160;Close

