div.modal-body(ng-controller="domainEditController")
    h3(style="background-color:white" ) Edit Domain Items for: {{domainName}} &nbsp;&nbsp;&nbsp;
        button.inputItem.btn.btn-primary.btn-xs.btn-success(ng-click="showAdd = ! showAdd" title="Add Domain Item")
            .glyphicon.glyphicon-plus-sign(ng-show="!showAdd")
            .glyphicon.glyphicon-minus-sign(ng-show="showAdd")
        p &nbsp;
    div(ng-show='showAdd' style="background-color:white")
        table
            form(role="form" name="domainedit")
                tr
                    th.col-sm-2 Feature Type
                    th.col-sm-4 Feature Value
                    th.col-sm-1 &nbsp;
                tr
                    td.col-sm-2
                        input.form-control.span1.required(ng-model='data.featureType' type="text")
                    td.col-sm-4
                        input.form-control.span1.required(ng-model='data.featureValue' type="text")
                    td.col-sm-1
                        button.btn.btn-sm.btn-success(ng-click='addDomainItem()') Add Feature
                tr
                    td &nbsp;
    div &nbsp;
    div(style="background-color:white")
        table.table.table-striped.table-condensed.table-hover.ng-table-responsive(ng-table="tableParams" show-filter="false" style="width:90%; height:500px" template-pagination="__" export-csv="csv" fixed-header)
            tr(ng-repeat="item in domainItems")
                td.col-sm-1(data-title="'Domain ID'" ng-show="tableParams.myShowFlag") {{item.id}}
                td.col-sm-1(data-title="'Domain Name'" ng-show="tableParams.myShowFlag") {{item.name}}
                td.col-sm-1(data-title="'Domain Description'" ng-show="tableParams.myShowFlag") {{item.description}}
                td.col-sm-1(data-title="'Domain Team'" ng-show="tableParams.myShowFlag") {{item.teamId}}
                td.col-sm-1(data-title="'Id'" sortable="'domainEntityId'" filter="{ 'domainEntityId': 'text' }") {{item.domainEntityId}}
                td.col-sm-2(data-title="'Feature Type'" sortable="'name'" filter="{ 'name': 'text' }") {{item.featureType}}
                td.col-sm-4(data-title="'Feature Value'" sortable="'description'" filter="{ 'name': 'text' }") {{item.featureValue}}
                td.col-sm-1
                    button.inputItem.btn.btn-primary.btn-xs.btn-danger.glyphicon.glyphicon-minus-sign(ng-click="removeItem(item)" title="Remove Feature")
        div.btn-group-xs
            a.btn.btn-primary(ng-click="csv.generate()" ng-href="{{ csv.link() }}" download="{{domainName}}.csv" title="Export Domain to file (.csv)")
                i.glyphicon.glyphicon-new-window &#160;Export
            label &nbsp;
            a.btn.btn-warning(ng-click="close()" title="Close")
                i.glyphicon.glyphicon-remove &#160;Close

